﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Kabaji Egara<br />
    3 Peregrine, Room 2<br />
    BD7 1BP<br/>
    <abbr title="Phone">P:</abbr>
    07413346938
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="http://uk.linkedin.com/in/kabajiegara/en">Check me out</a><br />
    <strong>Email:</strong> <a href="mailto:kabajiegara@live.com">kabajiegara@live.com</a>
</address>