﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts{
   
    
}


<br/>
<br/>
<div class="row">
    <div id="error" class="alert alert-danger hidden" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        An Error Occurred
    </div>

    <div id="datainitialized" class="alert alert-success hidden" role="alert">
        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Succesfully Initialized Data
    </div>
    <br />
    <fieldset>
        <legend>Trend Viewer and Quotes</legend>
        <p>This page is used to obtain current close prices of various stocks as well as charting their trends</p>
        <div class="form-group">
            <input id="symbol" type="text" placeholder="Enter Stock Symbol" />
            <button id="sendrequest" class="btn">Send Stock Request</button>
            <ul id="stocks"></ul>
        </div>
        <div class="form-group">
            <button id="initializedata" class="btn">Initialize Data</button>
            <button id="gethistoricaldata" class="btn">Fetch Historical Data</button>
        </div>
    </fieldset>
        
    
    </div>
<div>
    <div style="margin:0 auto;">
        <img id="loading" class="hidden" src="~/Images/ajax-loader.gif" />
    </div>
</div>


<div id="quotechart">

</div>


