﻿
@{
    ViewBag.Title = "Moving Average Analysis";
}

@section scripts{

}

<h2>Moving Average Analysis</h2>

<input id="masymbol" type="text" placeholder="Symbol"/>
<input id="shortmoving" type="text" placeholder="Short Moving Average"/>
<input id="longmoving" type="text" placeholder="Long Moving Average"/>
<input id="investment" type="text" placeholder="Investment Amount"/>
<div>
    <img id="loading" class="hidden" style="margin:0 auto;" src="~/Images/ajax-loader.gif" />
</div>
<button id="getma" class="btn">Get Moving Averages</button>

<button id="pnl" class="btn">Get PnL</button>

<div id="results">

</div>

<div id="returns">

</div>

