﻿@using IntelliStock.Helpers;
@{
    ViewBag.Title = "StrategyAnalysis";
}

<h2>StrategyAnalysis</h2>
<div class="row">
<div class="col-xs-2"></div>
<div class="col-xs-8">
    <fieldset>
        <legend>Strategy Analysis</legend>
        <p>This tool is used to prototype two well known financial strategies. The portfolio has been initialised in this version 
        however in later versions picking an choosing portfolio will be a process the financial manager/investor will be able to control.
        Due to financial constraints in terms of purchasing the financial data some consetions have to be made in terms of the type of stocks that can be backtested
        In its version, only exchange traded funds in the SPY are used in the analysis</p>
        <p>The current portfolio comprises of the following ETF's (Exchange Traded Funds)</p>
        <ol>
            <li>'XLB', #SPDR Materials sector</li>
            <li>'XLE', #SPDR Energy sector</li>
            <li>'XLF', #SPDR Financial sector</li>
            <li>'XLP', #SPDR Consumer staples sector</li>
            <li>'XLI', #SPDR Industrial sector</li>
            <li>'XLU', #SPDR Utilities sector</li>
            <li>'XLV', #SPDR Healthcare sector</li>
            <li>'XLK', #SPDR Tech sector</li>
            <li>'XLY', #SPDR Consumer discretionary sector</li>        
        </ol>
        The portfolio is initalised with 10,000 shares for each security with the timespan of the execution ranging from 2003 to 2013.
        <p></p>
        <p>Choose Trading Strategy to Analyse</p>
            <div class="form-group">
                <label for="tradesize">Trade Size</label>
                <input type="number" class="form-control" id="tradesize" placeholder="Enter Trade Size"/>
            </div>
            <div id="strategy">
                <p>Choose strategy to analyse:</p>
                <button id="clenow" class="btn btn-default">Clenow Simple Trend Follower</button>
                <button id="connorsrsi" class="btn btn-default">Connors RSI</button>
            </div>
    </fieldset>
    <img id="loading" class="hidden" style="margin:0 auto;" src="~/Images/ajax-loader.gif" />
    <p id="loadingarea"></p>
    <div id="clenowresults" class="hidden">
        <fieldset>
            <legend>Results</legend>
            Download the Trade Stats <a href="~/RWD/ClenowStats.csv">HERE</a><br />
            Download the Graph Analysis <a href="~/RWD/plots.jpg">HERE</a>
            @Html.LoadHtml("~/RWD/ClenowtStats.html")
        </fieldset>
    </div>
    <div id="crsiresults" class="hidden">
        <fieldset>
            <legend>Results</legend>
            Download the Trade Stats <a href="~/RWD/CRSIStats.csv">HERE</a><br />
            Download the Graph Analysis <a href="~/RWD/plots.jpg">HERE</a>
            @Html.LoadHtml("~/RWD/CRSIStats.html")
        </fieldset>
    </div>
</div>
    </div>

